# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

#JMetal

/jMetal/.idea
/jMetal/jMetalMV.iml
/jMetal/jMetal.log
/jMetal/jMetal.log.ini
/jMetal/jMetal.log.lck
# ------------------------------------------------------------------------------
# Languages
# ------------------------------------------------------------------------------

###
# Java
###

/jMetal/*.class

# Mobile Tools for Java (J2ME)
/jMetal/.mtj.tmp/

# Package Files
/jMetal/*.jar
/jMetal/*.war
/jMetal/*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
/jMetal/hs_err_pid*

# ------------------------------------------------------------------------------
# Build Automation Tools
# ------------------------------------------------------------------------------

###
# Maven
###

/jMetal/target/
/jMetal/pom.xml.tag
/jMetal/pom.xml.releaseBackup
/jMetal/pom.xml.next
/jMetal/release.properties

# ------------------------------------------------------------------------------
# IDE's
# ------------------------------------------------------------------------------

###
# Eclipse
###

/jMetal/*.pydevproject
/jMetal/.metadata
/jMetal/.gradle
/jMetal/bin/
/jMetal/tmp/
/jMetal/*.tmp
/jMetal/*.bak
/jMetal/*.swp
/jMetal/*~.nib
/jMetal/local.properties
/jMetal/.settings/
/jMetal/.loadpath
/jMetal/.classpath
/jMetal/.project

# External tool builders
/jMetal/.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
/jMetal/*.launch

# CDT-specific
/jMetal/.cproject

# PDT-specific
/jMetal/.buildpath

# sbteclipse plugin 
/jMetal/.target

# TeXlipse plugin
/jMetal/.texlipse

# IntelliJ IDEA
/jMetal/.idea

# ------------------------------------------------------------------------------
# OS's
# ------------------------------------------------------------------------------

###
# Windows
###

/jMetal/Thumbs.db
/jMetal/ehthumbs.db

# Folder config file
/jMetal/Desktop.ini

# Recycle Bin used on file shares
/jMetal/$RECYCLE.BIN/

# Windows Installer files
/jMetal/*.cab
/jMetal/*.msi
/jMetal/*.msm
/jMetal/*.msp

###
# Linux
###

/jMetal/*~
*~

# KDE directory preferences
/jMetal/.directory

###
# OSx
###

/jMetal/.DS_Store
/jMetal/.AppleDouble
/jMetal/.LSOverride

# Icon must ends with two \r.
/jMetal/Icon

# Thumbnails
/jMetal/._*

# Files that might appear on external disk
/jMetal/.Spotlight-V100
/jMetal/.Trashes

/jMetal/.sonar
/jMetal/jmetal.iml
/jMetal/jmetal-core/jmetal-core.iml
/jMetal/jmetal-algorithm/*.iml
/jMetal/jmetal-problem/*.iml
/jMetal/FUN*
/jMetal/VAR*
/jMetal/coverage
/jMetal/*.iml
/jMetal/*Backup

/jMetal/.RData
/jMetal/.Rhistory

/jMetal/*.png


